<!DOCTYPE HTML>
<html>
	<head>
		<title>家庭傭工續約平台 > 辦理續約 > 上載文件</title>
		
		<script src="/js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/js/fileinput.min.js"></script>
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.scrollzer.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/fileinput.min.css">
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<style type="text/css">
			.btn-primary {
			  background-image: -webkit-linear-gradient(top,#80d9c2 0,#4acaa8 100%);
			  background-image: -o-linear-gradient(top,#80d9c2 0,#4acaa8 100%);
			  background-image: -webkit-gradient(linear,left top,left bottom,from(#80d9c2),to(#4acaa8));
			  background-image: linear-gradient(to bottom,#80d9c2 0,#4acaa8 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff80d9c2', endColorstr='#ff4acaa8', GradientType=0);
			  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			  background-repeat: repeat-x;
			  border-color: #3ba186;
			}
			
			.btn-primary:hover,
			.btn-primary:focus {
			  background-color: #4acaa8;
			  background-position: 0 -15px;
			  border-color: #3ba186;
			}
		</style>
		
		<style type="text/css">
			.navbar-inverse {
			  background-color: #4acaa8 100%);
			  background-image: -o-linear-gradient(top,#4acaa8 0,#4acaa8 100%);
			  background-image: -webkit-gradient(linear,left top,left bottom,from(#4acaa8),to(#4acaa8));
			  background-image: linear-gradient(to bottom,#4acaa8 0,#4acaa8 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4acaa8', endColorstr='#ff4acaa8', GradientType=0);
			  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			  background-repeat: repeat-x;
			  border: none;
			}
			
			.navbar-inverse .navbar-nav > .open > a,
			.navbar-inverse .navbar-nav > .active > a {
			  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
			  background-image:      -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
			  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
			  background-image:         linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
			  background-repeat: repeat-x;
			  -webkit-box-shadow: none;
			  box-shadow: none;
			  color: #4acaa8;
			}
			
			.navbar-inverse .navbar-brand,
			.navbar-inverse .navbar-nav > li > a {
			  text-shadow: none;
			  color: #ffffff;
			  border: none;
			}
			
			.navbar-inverse .navbar-header a {
			  font-weight: bold;
			}
			
			.navbar-inverse .navbar-header > a:hover,
			.navbar-inverse .navbar-header > a:focus,
			.navbar-inverse .navbar-nav > li > a:hover,
			.navbar-inverse .navbar-nav > li > a:focus {
			  color: #ffffff !important;
			}
			
			.navbar-inverse .navbar-nav > li.active > a:hover,
			.navbar-inverse .navbar-nav > li.active > a:focus {
			  color: #4acaa8 !important;
			}
			
			#main > section > .container {
			  padding: 0 0 4em 0;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">家庭傭工續約平台</a>
			</div>
			<div>
			  <ul class="nav navbar-nav">
				<li><a href="/">首頁</a></li>
				<li class="active"><a href="/application-step1">辦理申請</a></li>
				<li><a href="/#five">進度查詢</a></li>
				<li><a href="/#six">聯絡我們</a></li>
			  </ul>
			  
			  <!--
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			  </ul>
			  -->
			</div>
		  </div>
		</nav>
	
			<!-- Main -->
				<div id="main">	
					<section>
						<div class="container">
							<div style="width: 646px; height: 79px; background-image: url('/images/step3.png');"></div>						
							<br/><h3>步驟三 > 上載文件</h3><br/>
							
							<form action="/application-step3" enctype="multipart/form-data" method="post" class="form-horizontal">
								<input id="applicationId" name="applicationId" type="hidden" value="<%= application._id %>"/>
							
								<fieldset>
									<!-- Form Name -->
									<legend>僱主文件</legend>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
									  <div class="col-md-10">
										<input type="file" name="employer_hkid" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照相片資料頁</label>  
									  <div class="col-md-10">
										<input type="file" name="employer_passport" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">留港簽証頁</label>  
									  <div class="col-md-10">
										<input type="file" name="employer_visa" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">住址證明</label>  
									  <div class="col-md-10">
										<input type="file" name="employer_address_proof" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">其它</label>  
									  <div class="col-md-10">
										<input type="file" name="employer_other" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									</div>
								</fieldset>
								
								<fieldset>
									<!-- Form Name -->
									<legend>傭工文件</legend>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_hkid" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(相片資料頁)</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_visa" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(簽証生效日期)</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_visa_date" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(簽証屆滿日期)</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_visa_due" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">合約(ID407)</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_contract" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">驗身報告</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_checkup" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">其它</label>  
									  <div class="col-md-10">
										<input type="file" name="helper_other" size="40" class="file" data-show-preview="false" data-show-upload="false"/><br/>
									  </div>
									</div>
								</fieldset><br/><br/>
								
								<div class="row uniform">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" value="上一步" id="prevBtn" name="prevBtn"/></li>
											<li><input type="submit" class="special" value="遞交" id="nextBtn" name="nextBtn"/></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</section>
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved.</li>
						</ul>
					</div>
				</section>
		</div>
	</body>
</html>