<!DOCTYPE HTML>
<html>
	<head>
		<title>家庭傭工續約平台 > 辦理續約 > 上載文件</title>
		
		<script src="/js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/js/fileinput.min.js"></script>
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.scrollzer.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/fileinput.min.css">
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
			<!-- Main -->
				<div id="main">	
					<section>
						<div class="container">
							<h3>步驟三 > 上載文件</h3>
							
							<form class="form-horizontal" enctype="multipart/form-data" action="/application-step3-next" method="post">
								<fieldset>
									<!-- Form Name -->
									<legend>僱主文件</legend>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照相片資料頁</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">留港簽証頁</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">住址證明</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">入息證明</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									</div>
								</fieldset>
								
								<fieldset>
									<!-- Form Name -->
									<legend>傭工文件</legend>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(相片資料頁)</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(簽証生效日期)</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									
									  <label class="col-md-2 control-label" for="passportNumber">護照(簽証屆滿日期)</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">合約(ID407)</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="passportNumber">傭工相片(半身彩色2"x1.5")</label>  
									  <div class="col-md-10">
									  <input id="file-0a" class="file" type="file" multiple data-min-file-count="1"><br/>
										
									  </div>
									</div>
								</fieldset><br/><br/>
								
								<div class="row uniform">
									<div class="12u">
										<ul class="actions">
											<!--<li><input type="button" value="上一步" onclick="parent.location='application-step2'"/></li>-->
											<li><input type="submit" class="special" value="遞交"/></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</section>
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved.</li>
						</ul>
					</div>
				</section>
		</div>
	</body>
</html>