<!DOCTYPE HTML>
<html>
	<head>
		<title>家庭傭工續約平台 > 辦理續約 > 傭工資料</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<script src="/js/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.scrollzer.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                $('#DOB').datepicker({
                    format: "yyyy-mm-dd"
                });
            
				$('#HKIDIssueDate').datepicker({
                    format: "yyyy-mm-dd"
                });
				
				$('#tripStartDate').datepicker({
                    format: "yyyy-mm-dd"
                });
			
				$('#tripEndDate').datepicker({
                    format: "yyyy-mm-dd"
                });
				
				$('#issueDate').datepicker({
                    format: "yyyy-mm-dd"
                });
				
				$('#dueDate').datepicker({
                    format: "yyyy-mm-dd"
                });
				
				$('#VISAStartDate').datepicker({
                    format: "yyyy-mm-dd"
                });
				
				$('#VISADueDate').datepicker({
                    format: "yyyy-mm-dd"
                });
            });
        </script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/datepicker.css"/>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<style type="text/css">
			.datepicker td.active, .datepicker td.active:hover {
				  background-image: linear-gradient(to bottom, #80d9c2, #4acaa8);
			}
		</style>
	</head>
	<body>
			<!-- Main -->
				<div id="main">	
					<section>
						<div class="container">
							<h3>步驟二 > 傭工資料</h3>
							<p>請以英文填寫全部資料</p>
							
							<form class="form-horizontal" action="/application-step2-next" method="post">
								<fieldset>
									<!-- Form Name -->
									<legend>基本資料</legend>

									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-2 control-label" for="firstName">姓名</label>  
									  <div class="col-md-2">
									  <input id="firstName" name="firstName" type="text" placeholder="First Name*" class="form-control input-md" required="">
										
									  </div>
									  
									  <div class="col-md-2">
									  <input id="middleName" name="middleName" type="text" placeholder="Middle Name" class="form-control input-md">
										
									  </div>
									  
									  <div class="col-md-2">
									  <input id="lastName" name="lastName" type="text" placeholder="Last Name*" class="form-control input-md" required="">
										
									  </div>
									</div>
									
									<div class="form-group">
									  <label class="col-md-2 control-label" for="DOB">出生日期</label>  
									  <div class="col-md-4">
									  <input id="DOB" name="DOB" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="gender">性別</label>
									  <div class="col-md-4"> 
										<input type="radio" id="gender-0" name="gender" value="M">
										<label for="gender-0">男</label>
										
										<input type="radio" id="gender-1" name="gender" value="F">
										<label for="gender-1">女</label>
									  </div>
									</div>
									
									<div class="form-group">
									  <label class="col-md-2 control-label" for="birthPlace">出生地</label>  
									  <div class="col-md-4">
									  <input id="birthPlace" name="birthPlace" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="maritalStatus">婚姻狀況</label>
									  <div class="col-md-4">
										<div class="select-wrapper">
											<select id="maritalStatus" name="maritalStatus">
											  <option value="1">Option one</option>
											  <option value="2">Option two</option>
											</select>
										</div>
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="HKID">身份證號碼*</label>  
									  <div class="col-md-4">
									  <input id="HKID" name="HKID" type="text" placeholder="" class="form-control input-md" required="">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="HKIDIssueDate">身份證簽發日期</label>  
									  <div class="col-md-4">
									  <input id="HKIDIssueDate" name="HKIDIssueDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="nationality">國籍</label>  
									  <div class="col-md-4">
									  <input id="nationality" name="nationality" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="address1">原居住址</label>  
									  <div class="col-md-10">
									  <input id="address1" name="address1" type="text" placeholder="地址 1" class="form-control input-md">
										
									  </div>
									</div>
									
									<div class="form-group">
									  <label class="col-md-2 control-label"></label>  
									  <div class="col-md-10">
										<input id="address2" name="address2" type="search" placeholder="地址 2" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="contactNumber">電話號碼</label>  
									  <div class="col-md-4">
									  <input id="contactNumber" name="contactNumber" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="email">電郵地址</label>  
									  <div class="col-md-4">
									  <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="contactPerson">國家親人姓名</label>  
									  <div class="col-md-4">
									  <input id="contactPerson" name="contactPerson" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="contactPersonNumber">國家親人電話</label>  
									  <div class="col-md-4">
									  <input id="contactPersonNumber" name="contactPersonNumber" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>
								</fieldset><br/>

								<fieldset>
									<!-- Form Name -->
									<legend>履行新合約前安排</legend>
									
									<div class="form-group">
									  <label class="col-md-2 control-label" for="selectbasic">渡假後安排</label>
									  <div class="col-md-4">
										<div class="select-wrapper">
											<select id="selectbasic" name="selectbasic" class="form-control">
											  <option value="1">在履行新合約前返回原居地渡假</option>
											  <option value="2">雙方同意把假期押後不超過一年</option>
											</select>
										</div>
									  </div>
									  
									  <label class="col-md-2 control-label" for="reason">原因</label>  
									  <div class="col-md-4">
									  <input id="reason" name="reason" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<!-- Text input-->
									<div class="form-group">
									  <label class="col-md-2 control-label" for="tripStartDate">去程日期</label>  
									  <div class="col-md-4">
									  <input id="tripStartDate" name="tripStartDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="tripEndDate">回程日期</label>  
									  <div class="col-md-4">
									  <input id="tripEndDate" name="tripEndDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>
								</fieldset><br/>
								
								<fieldset>
									<!-- Form Name -->
									<legend>護照資料</legend>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="passportNumber">護照號碼</label>  
									  <div class="col-md-4">
									  <input id="passportNumber" name="passportNumber" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="issueCountry">簽發地點</label>  
									  <div class="col-md-4">
									  <input id="issueCountry" name="issueCountry" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="issueDate">簽發日期</label>  
									  <div class="col-md-4">
									  <input id="issueDate" name="issueDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="dueDate">屆滿日期</label>  
									  <div class="col-md-4">
									  <input id="dueDate" name="dueDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>

									<div class="form-group">
									  <label class="col-md-2 control-label" for="VISAStartDate">工作簽証生效日期</label>  
									  <div class="col-md-4">
									  <input id="VISAStartDate" name="VISAStartDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									  
									  <label class="col-md-2 control-label" for="VISADueDate">工作簽証屆滿日期</label>  
									  <div class="col-md-4">
									  <input id="VISADueDate" name="VISADueDate" type="text" placeholder="" class="form-control input-md">
										
									  </div>
									</div>
								</fieldset><br/><br/>
								
								<div class="row uniform">
									<div class="12u">
										<ul class="actions">
											<!--<li><input type="button" value="上一步" onclick="parent.location='application-step1'"/></li>-->
											<li><input type="submit" class="special" value="下一步"/></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</section>
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved.</li>
						</ul>
					</div>
				</section>
		</div>
	</body>
</html>