<!DOCTYPE HTML>
<html>
	<head>
		<title>家庭傭工續約平台 > 進度查詢</title>
		
		<script src="/js/jquery.min.js"></script>
		<!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.scrollzer.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
			<!-- Main -->
				<div id="main">	
					<section>
						<div class="container">
							<h3>進度查詢</h3>
							<p>沒有找到任何相關記錄。</p>
						</div>
					</section>
				</div>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<ul class="copyright">
							<li>&copy; Untitled. All rights reserved.</li>
						</ul>
					</div>
				</section>
		</div>
	</body>
</html>